#div1 {
  border-style: dashed;
  border-color: navy;
  margin: 5px;
}

#first {
  color: red;
}

#center {
  text-align: center;
}

ul {
  text-align: center;
  color: navy;
}

#div2 {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: green green greenyellow greenyellow;
  margin: 10px;
}

#div3 {
  border-style: double;
  border-color: red;
  border-radius: 0 10px 0 10px;
  margin: 10px;
}

#div2 h1 {
  color: green;
  text-decoration: underline;
}

#div3 h1 {
  color: blue;
  text-decoration: overline;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

figcaption {
  text-align: center;
}
